.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

svg{
	background-color: #fff;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


/* tooltips */
div.white{background-color: #fff;}
div.tooltips {
  position: absolute;
  color:#fff;
  width:150px;
  padding: 8px;
  font: 12px sans-serif;
  background: #333;
  border: solid 1px #aaa;
  border-radius: 4px;
  pointer-events: none;
}

/* sliders */
#sliderDiv {background-color:#f9f9f9;border:solid 1px #ddd;padding:20px;}
#slider{float:right;width:90%;}

.bssliders {background-color:#f9f9f9;border:solid 1px #ddd;padding:20px;}

/* game tables */
table td { padding:0px !important; }